body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container{
    flex-grow: 1;
}

header {
    margin-bottom: 16px;
}
header h1{
    text-align: center;
    font-size: 55px;
    margin: 5px 4px 10px 4px;
    padding: 2px 6px;
}

#header_links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 4px;
}

header a{
    font-size: 15px;
    text-decoration: none;
    padding: 2px 8px;
    margin: 0 5px;
    color: #666666;
}

header a:hover{
    color: #333333;
}

footer {
    border-top: solid 3px #dddddd;
    margin-top: 16px;
    margin-bottom: 6px;
    color: #666666;
    font-size: 15px;
    text-align: center;
}

footer p{
    padding: 2px 0;
    margin: 2px 6px;
}

.profile_pic {
    width: 250px;
    border-radius: 50%;
}

input{
    padding: 8px;
    border: 1px solid #cccccc;
}

button{
    cursor: pointer;
    border: 1px solid #88888888;
    background: #88888888;
    color: #ffffff;
    padding: 8px;
}

.text-center{
    text-align: center;
}